.portfolio{
    height: 100%;
    padding-block: 40px;
    overflow-y: auto;
    & .content{
        display: flex;
        justify-content: center;
    }
    & ul{
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        width: 700px;
    }
    & li{
        background-color: rgba(222, 218, 218, 0.274);
    }
    & img{
        width: 300px;
    }
    & p{
        padding-block: 10px;
        text-align: center;
    }
}